.clientGrid-layout{
    display: grid;
    grid-template-areas: 
   'nav nav nav'
   'content content content'
   'foo foo foo'
   ;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: auto auto auto;
}

.clientes{
    display: flex;
    grid-area: content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffc107;


    .item-client{
        display: flex;
        padding: 2%;
        margin: 3%;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        border-radius: 10px;
        

        .c-img{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 300px;
            img{
                width: 100%;
                border-radius: 50%;
            }
        }

        .c-text{
            width: 60%;
            padding: 3%;
        }
    }
   
}