.conctGrid-layout{
    display: grid;
    grid-template-areas: 
   'nav nav nav'
   'content content content'
   'add add add'
   'foo foo foo'
   ;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: auto auto auto auto;
}

.contact{
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#ffc107;
    padding: 3%;

    .miForm{
        width: 40vw;
    }
    #mi-textarea{
        resize: none;
    }
}
@keyframes rotation{
    from {
      transform: rotate(0deg);
    }
    to{
      transform: rotate(359deg);
    }
}
.animated:hover{
    cursor: pointer;
    
    animation: rotation 5s infinite linear;
   
}
.add{
    grid-area: add;
}