



.usGrid-layout{

    display: grid;
    grid-template-areas: 
    'nav nav nav'
    'content content content'
    'foo foo foo'
    ;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto auto auto;
}

    
