@import "../vars";

.prodGrid-layout{
  display: grid;
 grid-template-areas: 
'nav nav nav'
'cards cards cards'
'pago pago pago'
'foo foo foo'
;
grid-template-columns: repeat(3,1fr);
grid-template-rows: auto auto auto;
}
.pago{
  grid-area: pago;
}

.cardProducts{

  .cardsTittle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  .cardsTittle input{
    padding: 3%;
    margin-top: 20px;
    height: 40px;
    width: 300px;
    border-radius: 25px;
    border: 1px solid #8e8d8d;
  }
      
}

$btn-colors:(
  close:rgb(231, 63, 63),
  text:#f7e09e,
);

@mixin bot{
  margin: 30px;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  border: 2px $mainColor solid;
  color: map-get($btn-colors,text);
  text-decoration: none;
  transition: all .3s;
}


.bot{
  @include bot;
}
.bot:hover{
  color: map-get($btn-colors,text);
  box-shadow: 0px 0px 10px $mainColor;
}
.bot-close{
  @extend .bot;
  background-color: map-get($btn-colors,close);
  border: 2px $secondColor solid;
  transition: all .3s;
}
.bot-close:hover{
  box-shadow: 0px 0px 7px map-get($btn-colors,close);
}


  @mixin info{
    background-color: $secondColor ;
    color: $mainColor;
    padding:3%;
    margin: 0 10px 0 10px;
    transition: all .5s;
    cursor: default;
  }
  .inf{
    margin: 0 10px 0 10px;
  }
  .inf:hover{
    @include info;
  }
