.prodGrid-layout{
    display: grid;
   grid-template-areas: 
  'nav nav nav'
  'cards cards cards'
  'pago pago pago'
  'foo foo foo'
  ;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto auto auto;
}
.pago{
    grid-area: pago;
}