

.indexGrid-layout{
    display: grid;
   grid-template-areas: 
  'nav nav nav'
  'h h h'
  'cards cards cards'
  'if if if'
  'carr carr carr'
  'foo foo foo'
  ;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto auto auto auto auto auto;
  }